body {
  background-color: white;
  color: white;
}
.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.js-greetings {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.line {
  display: flex;
  padding: 30px 100px;
  justify-content: space-around;
  align-items: center;
}
.js-clock {
  font-size: 3rem;
  justify-content: center;
}

h1 {
  margin-top: 0;
}
.js-toDoList {
}
.js-weather {
  display: flex;
  justify-content: center;
}
/* todo list  */
* {
  box-sizing: border-box;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077ff;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
input {
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
input:hover {
  background: rgba(#223254, 0.03);
}
input:hover:not(placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
input:focus {
  background: none;
  outline: none;
  + span {
    color: #0077ff;
    transform: translateY(-26px) scale(/75) + .border {
      transform: scaleX(1);
    }
  }
}
